@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


*{padding: 0;
margin: 0;
box-sizing: border-box;
color: antiquewhite;
font-family: "Jersey 10";
text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
}

button{
    background-color: transparent;
    border: none;
    font-size: 5vw;
    cursor: pointer;
}

h1{
    font-size: 4vw;
}
h2{
    font-size: 3vw;
    text-align: center;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#welcome{
    height: 100vh;
    background-image: url("/Life-Simulator-Game/Images/street.gif");
    padding-top: 30vh;
    text-align: center;
}
#welcome h1{
    font-size: 6vw;
}
#chooseName{
    height: 100vh;
    background-image: url("/Life-Simulator-Game/Videos/townNamePage.gif");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
#chooseName input{
    height: 5vh;
    width: 50vw;
    background-color: transparent;
    border-radius: 12px;
    font-size: 2.2vw;
    padding: 1vw;
    border: 5px solid antiquewhite;
}



#chooseGender{
    background-image: url("/Life-Simulator-Game/Images/town.gif");
    height: 100vh;
    background-size: cover;
    text-align: center;
    padding-top: 5vh;

}
#chooseGender section{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin: 2vh auto;    
}
#chooseGender img{
    width: 30vw;
    border-radius: 10vw;
    
}
.selected{
    border: 8px solid green;
    border-radius: 10vw;
    background-color: green;
}




#nationalityPage,#familyDiv{
    background-image: url("/Life-Simulator-Game/Images/town.gif");
    
    
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
        
    letter-spacing: 0.5vh;
}
#nationalityPage h1,#familyDiv {
text-align: center;
color: antiquewhite;
padding: 4vw;
padding-top: 25vh;
font-size: 5vw;


        
    letter-spacing: 0.5vh;
}


#currentChoice{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#choice{
    margin-top: 25vh;
    text-align: center;
    width: 90vw;
    height: 70vh;
    /* display: flex;
    flex-direction: column; */
}
#choice button{
    padding: 1vw;
    margin: 1vw;
    font-size: 3vw;
}






#statsField{
    height: 100vh;
   
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
#stats{
    text-align: center;
    
    font-size: 3vw;
}
#stats ul{
    list-style: none;
}
.dangerous{
    color: red;
}

#refresh{
    position: absolute;
    top: 0vh;
    left: 3vw;
}
#showStats{
    position: absolute;
    top: 0vh;
    right: 3vw;
}


#github i{
    position: absolute;
    bottom: 3vh;
    left: 3vw;
    font-size: 7vw;
    color: orangered;
   
}