@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Jersey 10";
    
    
}
button:hover{
    cursor: pointer;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}


 /* welcome page */
#welcome{
   background-image: url("/Life-Simulator-Game/Images/owl.gif");
   background-repeat: no-repeat;
   background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
#welcome section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40vh;
  gap: 5vh;
}
#welcomeVideo{
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}
#welcome h1{
    
    font-family: "Jersey 10";
    font-size: 5vw;
    color: antiquewhite;
}
#welcome button{
    
    font-family: "Jersey 10";
    background-color: transparent;
    font-size: 3vw;
    border: none;
    color: antiquewhite;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
}

@media(max-width:600px){
    #welcome h1{
        font-size: 10vw;
        font-weight: 600;
        
    }
    #welcome button{
        font-size: 8vw;
    }
}
@media(max-width:770px) and (min-width:600px){
    #welcome h1{
        font-size: 8vw;
    }
    #welcome button{
        font-size: 6vw;
    }
}
@media(max-width:1200px) and (min-width:770px){
    #welcome h1{
        font-size: 7vw;
    }
    #welcome button{
        font-size: 5vw;
    }
}



/* end of welcome page */

/* choose name page */
#chooseName{
    width: 100vw;
    height: 100vh;
    background-image: url("/Life-Simulator-Game/Videos/townNamePage.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
    font-family: "Jersey 10";
    text-align: center;
}
#chooseName h2{
    font-size: 5vw;
    color: antiquewhite;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
        
    letter-spacing: 0.5vh;
}
#chooseName input{
    border-radius: 1vw;
    padding: 1vw;
    width: 30vw;
}
#chooseName button{
   margin-top: 2vh;
   text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
        
    letter-spacing: 0.5vh;
   font-size: 3vw;
   font-family: "Jersey 10";
   padding: 2vw;
   border: none;
   background-color: transparent;
   color: antiquewhite;
   
}

@media(max-width:600px){
    #chooseName h2{
        font-size: 10vw;
        font-weight: 600;
        
    }
    #chooseName button{
        font-size: 8vw;
    }
    #chooseName input{width: 80vw;
    margin-top: 2vh;
    border-radius: 5vw;
height: 5vh;}
}
@media(max-width:770px) and (min-width:600px){
    #chooseName h2{
        font-size: 8vw;
    }
    #chooseName button{
        font-size: 6vw;
    }
    #chooseName input{width: 70vw;
        margin-top: 2vh;
        border-radius: 4vw;
    height: 7vh;}
}
@media(max-width:1200px) and (min-width:770px){
    #chooseName h2{
        font-size: 7vw;
    }
    #chooseName button{
        font-size: 5vw;
    }
    #chooseName input{width: 50vw;
        margin-top: 2vh;
        border-radius: 5vw;
    height: 5vh;}
}

/* end of choose name page */

/* choose gender page */
#chooseGender{
    background-image: url("/Life-Simulator-Game/Images/town.gif");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;text-shadow: 
    -2px -2px 0 #000, 
    2px -2px 0 #000, 
    -2px 2px 0 #000,
    2px 2px 0 #000; 

letter-spacing: 0.5vh;
}
#chooseGender img{
    width: 30vw;
    border-radius: 10vw;
    
}
#chooseGender h1{
    text-align: center;
    font-family: "Jersey 10";
    font-size: 5vw;
    color: antiquewhite;
}
#chooseGender section{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin: 5vh auto;    
}
#chooseGender button{
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    padding: 1vw;
    font-size: 4vw;
    background-color: transparent;
    color: antiquewhite;
    font-family: "Jersey 10";
    border: none;text-shadow: 
    -2px -2px 0 #000, 
    2px -2px 0 #000, 
    -2px 2px 0 #000,
    2px 2px 0 #000; 

letter-spacing: 0.5vh;
    
}
@media(max-width:600px){
    #chooseGender h1{
        font-size: 10vw;
        font-weight: 600;
        padding-top: 20vh;
        
    }
    #chooseGender button{
        font-size: 8vw;
        text-align: center;
    }
    #chooseGender section{width: 90vw;}
    #chooseGender img{
    
height: 35vh;
width: 40vw;}
}
@media(max-width:770px) and (min-width:600px){
    #chooseGender h1{
        font-size: 8vw;
    }
    #chooseGender button{
        font-size: 6vw;
    }
    #chooseGender section{width: 90vw;}
    #chooseGender img{
    
height: 40vh;
width: 40vw;}
}
@media(max-width:1200px) and (min-width:770px){
    #chooseGender h1{
        font-size: 7vw;
    }
    #chooseGender button{
        font-size: 5vw;
    }
    #chooseName input{width: 50vw;
        margin-top: 2vh;
        border-radius: 5vw;
    height: 5vh;}
}

.selected{
    border: 8px solid green;
    border-radius: 10vw;
    background-color: green;
}
/* end of choose gender page */

/* nationality page */
#nationalityPage{
    background-image: url("/Life-Simulator-Game/Images/town.gif");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
        
    letter-spacing: 0.5vh;
}
#nationalityPage h1{
text-align: center;
color: antiquewhite;
padding-top: 25vh;
font-size: 5vw;

        
    letter-spacing: 0.5vh;
}
@media(max-width:600px){
    #nationalityPage h1,#familyDiv{
        font-size: 10vw;
        font-weight: 600;
        
    }
    
}
@media(max-width:770px) and (min-width:600px){
    #nationalityPage h1,#familyDiv{
        font-size: 8vw;
    }
   
}
@media(max-width:1200px) and (min-width:770px){
    #nationalityPage h1,#familyDiv{
        font-size: 7vw;
    }
    
}

/* family page */
#familyDiv{
    background-image: url("/Life-Simulator-Game/Images/town.gif");
    width: 90vw;
    padding: 5vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: antiquewhite;
    padding-top: 25vh;
    font-size: 5vw;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
        
    letter-spacing: 0.5vh;
}
@media(max-width:600px){
    #familyDiv{
        font-size: 10vw;
        font-weight: 600;
        
        
    }
    
}
@media(max-width:770px) and (min-width:600px){
    #familyDiv{
        font-size: 8vw;
        
    }
   
}
@media(max-width:1200px) and (min-width:770px){
    #familyDiv{
        font-size: 7vw;
        
    }
    
}
#github{
    position: absolute;
    bottom: 3vh;
    left: 2vw;
    transform: translateX(50%);
    
}
#github i{
    font-size: 5vw;
    color: orangered;
    -webkit-text-stroke: 1px aliceblue;

}
@media(max-width:430px){
    #github i{
        font-size: 16vw;
    }
}
@media(max-width:800px) and (min-width:430px){
    #github i{
        font-size: 12vw;
    }
}
@media(max-width:1300px) and (min-width:800px){
    #github i{
        font-size: 9vw;
    }
}
#statsField{
    position: absolute;
    top: 3vh;
    right: 6vw;
    font-size: 2vw;
    color: antiquewhite;
    text-align: center;
    
}
#statsField:hover #stats{
    display: inline-block;
}
#statsField:hover i{
    display: none;
}
#stats{
    display: none;
    /* position: absolute;
    bottom: 5vw;
    left: 5vw; */
    text-align: center;
    font-size: 2vw;
}
#stats h1{
    text-align: center;
}

#stats ul{
    list-style: none;
}
#stats li{
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
}

#currentChoice{
    width: 100vw;
    height: 100vh;
    /* background-image: url("/Life-Simulator-Game/Images/town.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 30vh;
    
}

#choice{
    width: 67vw;
    text-align: center;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
        
    letter-spacing: 0.5vh;
    font-size: 1.5vw;
}
#choice h1,#choice h2{
    text-indent: 3vw;
    color: antiquewhite;
}
#choice button{
    font-size: 2vw;
    padding: 1vw;
    margin: 2vh;
    background-color: transparent;
    color: antiquewhite;
    border: none;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
}


 #refresh{
    position: absolute;
    top: 6vh;
    left: 10vw;
    transform: translateX(-50%) translateY(-50%);
    font-size: 5vw;
    background-color: transparent;
    border: none;
    color: antiquewhite;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
    
}

@media(max-width:600px){
    #choice{
        width: 90vw;
    }
    #currentChoice #choice h1{
        font-size: 7vw;
        font-weight: 600;
        margin-top: 5vh;
        
        
    }
    #choice button{
        font-size: 6vw;
    }
     #refresh{
        position: absolute;
    top: 5vh;
    color: antiquewhite;
    background-color: transparent;
    border:none;
    left: 15vw;
    transform: translateX(-50%) translateY(-50%);
    font-size: 8vw;
    }
   
     #statsField i{
        font-size: 6vw;
        display: none;
    }
    #stats{
        display: block;
    }
    #stats li{
        font-size: 4vw;
    }
    
}
@media(max-width:770px) and (min-width:600px){
    #choice{width: 90vw;}
    #currentChoice h1{
        font-size: 7vw;
        
    }
    #choice button{
        font-size: 6vw;
    }
     #refresh{
        position: absolute;
    top: 5vh;
    color: antiquewhite;
    background-color: transparent;
    border:none;
    left: 15vw;
    transform: translateX(-50%) translateY(-50%);
    font-size: 8vw;
    }
   
     #statsField i{
        font-size: 6vw;
        display: none;
    }
    #stats{
        display: block;
    }
    #stats li{
        font-size: 3vw;
    }

   
}
@media(max-width:1200px) and (min-width:770px){
    #currentChoice h1{
        font-size: 6vw;
        
    }
    #choice{
        width: 90vw;
    }
    #choice button{
        font-size: 6vw;
    }
     #refresh{
        position: absolute;
    top: 5vh;
    color: antiquewhite;
    background-color: transparent;
    border:none;
    left: 15vw;
    transform: translateX(-50%) translateY(-50%);
    font-size: 8vw;
    }
   
     #statsField i{
        font-size: 6vw;
        display: none;
    }
    #stats{
        display: block;
    }
    #stats li{
        font-size: 2vw;
    }
    
}
#gameOver{
    color: antiquewhite;
    text-align: center;
    font-size: 2vw;
    margin-top: 8vh;
    margin-left: 5vw;
    margin-right: 5vw;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
}

@media(max-width:600px){
    #gameOver{
        font-size: 5vw;
        font-weight: 600;
        margin: 4vw;
        
    }
    
}
@media(max-width:770px) and (min-width:600px){
    #gameOver{
        font-size: 8vw;
        margin: 4vw;
    }
   
}
@media(max-width:1050px) and (min-width:770px){
    #gameOver{
        font-size: 7vw;
        
    }
    
}