@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


*{padding: 0;
margin: 0;
box-sizing: border-box;
color: antiquewhite;
font-family: "Jersey 10";
text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
}

button{
    background-color: transparent;
    border: none;
    font-size: 5vw;
    cursor: pointer;
}

h1{
    font-size: 4vw;
}
h2{
    font-size: 3vw;
    text-align: center;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#welcome{
    height: 100vh;
    background-image: url("/Life-Simulator-Game/Images/street.gif");
    padding-top: 30vh;
    text-align: center;
    background-size: cover;
}
#welcome h1{
    font-size: 6vw;
}
#chooseName{
    height: 100vh;
    background-image: url("/Life-Simulator-Game/Videos/townNamePage.gif");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
#chooseName input{
    height: 5vh;
    width: 50vw;
    background-color: transparent;
    border-radius: 12px;
    font-size: 2.2vw;
    padding: 1vw 0.5vw;
    border: 5px solid antiquewhite;
}



#chooseGender{
    background-image: url("/Life-Simulator-Game/Images/town.gif");
    height: 100vh;
    background-size: cover;
    text-align: center;
    padding-top: 5vh;

}
#chooseGender section{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin: 2vh auto;    
}
#chooseGender img{
    width: 30vw;
    border-radius: 10vw;
    
}
.selected{
    border: 8px solid green;
    border-radius: 10vw;
    background-color: green;
}




#nationalityPage,#familyDiv{
    background-image: url("/Life-Simulator-Game/Images/town.gif");
    
    
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 
                -2px -2px 0 #000, 
                2px -2px 0 #000, 
                -2px 2px 0 #000,
                2px 2px 0 #000; 
        
    letter-spacing: 0.5vh;
}
#nationalityPage h1,#familyDiv {
text-align: center;
color: antiquewhite;
padding: 4vw;
padding-top: 18vh;
font-size: 5vw;


        
    letter-spacing: 0.5vh;
}


#currentChoice{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#choice{
    margin-top: 15vh;
    text-align: center;
    width: 90vw;
    height: 70vh;
    /* display: flex;
    flex-direction: column; */
}
#choice button{
    padding: 1vw;
    margin: 1vw;
    font-size: 3vw;
}






#statsField{
    height: 100vh;
   
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
#stats{
    text-align: center;
    
    font-size: 3vw;
}
#stats ul{
    list-style: none;
}
.dangerous{
    color: red;
}


#refresh{
    position: absolute;
    top: 0vh;
    left: 3vw;
}
#showStats{
    position: absolute;
    top: 0vh;
    right: 3vw;
}


#github i{
    position: absolute;
    bottom: 3vh;
    left:3vw;
    font-size: 5vw;
    color: orangered;
   
}

/* Responsiveness up to 1000px */
@media(max-width:400px){
    h1,#welcome h1,#chooseName h1,#familyDiv,#nationalityPage h1{
        font-size: 9vw;
    }
    button, #currentChoice button{
        font-size: 8vw;
    }
   
    #github i{
        font-size: 18vw;
        left: 5vw;
    }
    #refresh{
        top: 1vh;
        left: 5vw;
    }
    #showStats{
        top: 1vh;
        right: 5vw;
    }
    #choice{
        margin-top: 20vh;
    }
    h2{
        font-size: 8vw;
    }
    #stats li{
        font-size: 10vw;
    }
    #statsField{
        padding-top: 12vh;
    }
    #statsField #hideStats{
        font-size: 12vw;
    }

    #chooseName input{
        width: 70vw;
        margin-top: 1vh;
        font-size: 6vw;
        padding: 2vw;
    }
    #chooseGender{
        padding-top: 20vh;
    }
    #chooseGender img{
        width: 35vw;
        height: 35vh;
        
    }
    #chooseGender button{
        margin-top: 5vh;
    }


    

}
@media(max-width:700px) and (min-width:400px){
    h1{
        font-size: 7vw;
    }
    #welcome h1,#chooseName h1,#familyDiv,#nationalityPage h1{
        font-size: 9vw;
    }
    button, #currentChoice button{
        font-size: 6vw;
    }
    #chooseName input{
        width: 60vw;
        margin-top: 1vh;
        font-size: 5vw;
        padding: 2vw;
    }
    #chooseGender img{
        width: 35vw;
        height: 45vh;
        
    }
    #chooseGender button{
        margin-top: 5vh;
    }
    #chooseGender{
        padding-top: 15vh;
    }
    #github i{
        font-size: 12vw;
        left: 3vw;
    }
    #refresh{
        top: 1vh;
        left: 5vw;
    }
    #showStats{
        top: 1vh;
        right: 5vw;
    }
    h2{
        font-size: 5vw;
    }

    #stats li{
        font-size: 6.7vw;
    }
    #statsField{
        padding-top: 7vh;
    }
    #statsField #hideStats{
        font-size: 12vw;
    }
    #choice{
        margin-top: 13vh;
    }
}


@media(max-width:1000px) and (min-width:700px){
    h1{
        font-size: 6vw;
    }
    #welcome h1,#chooseName h1,#familyDiv,#nationalityPage h1{
        font-size: 7.5vw;
    }
    button, #currentChoice button{
        font-size: 6vw;
    }
    #chooseName input{
        width: 60vw;
        margin-top: 1vh;
        font-size: 5vw;
        padding: 2vw;
    }
    #chooseGender img{
        width: 35vw;
        height: 50vh;
        
    }
    #chooseGender button{
        margin-top: 5vh;
    }
    #chooseGender{
        padding-top: 5vh;
    }
    #github i{
        font-size: 10vw;
        left: 3vw;
    }
    #refresh{
        top: 1vh;
        left: 5vw;
    }
    #showStats{
        top: 1vh;
        right: 5vw;
    }
    h2{
        font-size: 5vw;
    }

    #stats li{
        font-size: 5vw;
    }
    #statsField{
        padding-top: 7vh;
    }
    #statsField #hideStats{
        font-size: 12vw;
    }
    #choice{
        margin-top: 17vh;
    }


}
@media(max-width:1400px) and (min-width:1000px){
    h1{
        font-size: 5.5vw;
    }
    #welcome h1,#chooseName h1,#familyDiv,#nationalityPage h1{
        font-size: 7.5vw;
    }
    button, #currentChoice button{
        font-size: 5vw;
    }
    #chooseName input{
        width: 50vw;
        margin-top: 1vh;
        font-size: 5vw;
        padding: 2vw;
    }
    #chooseGender img{
        width: 35vw;
        height: 60vh;
        
    }
    #chooseGender button{
        margin-top: 5vh;
    }
    #chooseGender{
        padding-top: 5vh;
    }
    #github i{
        font-size: 10vw;
        left: 3vw;
    }
    #refresh{
        top: 1vh;
        left: 5vw;
    }
    #showStats{
        top: 1vh;
        right: 5vw;
    }
    h2{
        font-size: 5vw;
    }

    #stats li{
        font-size: 4.5vw;
    }
    #statsField{
        padding-top: 7vh;
    }
    #statsField #hideStats{
        font-size: 10vw;
    }
    #choice{
        margin-top: 17vh;
    }


}

@media(max-width:1800px) and (min-width:1400px){
    h1{
        font-size: 4.8vw;
    }
    #welcome h1,#chooseName h1,#familyDiv,#nationalityPage h1{
        font-size: 7.5vw;
    }
    button, #currentChoice button{
        font-size: 4.5vw;
    }
    #chooseName input{
        width: 50vw;
        margin-top: 1vh;
        font-size: 5vw;
        padding: 2vw 1vw;
    }
    #chooseGender img{
        width: 35vw;
        height: 60vh;
        
    }
    #chooseGender button{
        margin-top: 5vh;
    }
    #chooseGender{
        padding-top: 5vh;
    }
    #github i{
        font-size: 8vw;
        left: 3vw;
    }
    #refresh{
        top: 1vh;
        left: 5vw;
    }
    #showStats{
        top: 1vh;
        right: 5vw;
    }
    h2{
        font-size: 5vw;
    }

    #stats li{
        font-size: 3.4vw;
    }
    #statsField{
        padding-top: 6vh;
    }
    #statsField #hideStats{
        font-size: 10vw;
    }
    #choice{
        padding-top: 3vh;
    }


}
@media(min-width:1800px) and (max-width:2000px){
    #choice h1{
        color: red;
    }
}

/* @media (min-width:2000px){
    h1{
        font-size: 5vw;
        font-weight: 600;
    }
    #welcome h1,#chooseName h1,#familyDiv,#nationalityPage h1{
        font-size: 8.5vw;
    }
    button, #currentChoice button{
        font-size: 6vw;
    }
    #chooseName input{
        width: 50vw;
        margin-top: 1vh;
        font-size: 5vw;
        padding: 2vw;
    }
    #chooseGender img{
        width: 35vw;
        height: 60vh;
        
    }
    #chooseGender button{
        margin-top: 5vh;
    }
    #chooseGender{
        padding-top: 5vh;
    }
    #github i{
        font-size: 10vw;
        left: 3vw;
    }
    #refresh{
        top: 1vh;
        left: 5vw;
    }
    #showStats{
        top: 1vh;
        right: 5vw;
    }
    h2{
        font-size: 5vw;
    }

    #stats li{
        font-size: 4.5vw;
    }
    #statsField{
        padding-top: 7vh;
    }
    #statsField #hideStats{
        font-size: 10vw;
    }
    #choice{
        margin-top: 17vh;
    }


}
 */
